@import url(reset.css);
@import url(normalize.css);
@import url(scroll.css);
@import url(fonts/inter.css);

 body {
  font-family: 'Inter', Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
 }

 .hide {
   display: none;
 }

 .car {
   width: 100px;
   height: 50px;
   background: transparent url(../image/player.png) center / cover no-repeat;
   /* * transparent прозрачный фон */
   position: absolute;
   left: 0px;
   bottom: 200px;
 }

 .game-area {
   width: 100vw;
   height: 450px;
   position: relative;
   margin: 0;
   background: #222;
   display: block;
 }

 .padd {
   height: 800px;
   width: calc((100vw - 300px) / 2);
 }


 .start {
   position: absolute;
   width: 200px;
   text-align: center;
   right: calc((100vw - 200px) / 2);
   top: 40px;
 }

 .score {
   position: absolute;
   display: block;
   width: 150px;
   text-align: center;
   right: calc((100vw - 150px) / 2);
   top: 0;
 }

 .line {
   position: absolute;
   height: 10px;
   width: 50px;
   background: white;
   left: 0px;
   top: 220px;
 }