@import url(normalize.css);
@import url(scroll.css);
@import url(fonts/inter.css);

 body {
  font-family: 'Inter', Arial, sans-serif;
 }

 .hide {
   display: none;
 }

 .car {
   width: 50px;
   height: 100px;
   background: transparent url(../image/player.png) center / cover no-repeat;
   /* * transparent прозрачный фон */
   position: absolute;
   left: 125px;
   bottom: 0px;
 }

 .game-area {
   width: 300px;
   height: 80vh;
   position: relative;
   margin: auto;
   background: #222;
 }